.navbar {
  height: 65px;
  background-image: url("https://mediastack.com/site_images/shapes_bg.svg");
  background-size: cover;
  background-color: #284d9b;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.25s ease, opacity 0.25s ease 75ms;
}

.navbar.scrolled {
  background-color: #264a94;
  background-image: none;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
}

.logoName {
  font-weight: 600;
  font-size: 24px;
}

.logo img {
  max-width: 50px;
  max-height: 50px;
  margin: 15px 0;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #284d9b;
  border-radius: 5px;
  font-size: 13px;
}
